{
    "extends": "jquery",
    "rules": {
        "import/extensions": [
            "error",
            "always",
            {
                "js": "ignorePackages"
            }
        ]
    }
}